.aboutUsContainer {
    /* background-color: white; */
    /* height: 80vh; */
    padding: 200px 20px;
    text-align: center;
    /* background-color: aliceblue; */
    background-size: contain;
    /* border-bottom: 4px solid rgb(34, 34, 34); */
    color: white;

}

.personCard {
    width: fit-content;
    margin: auto auto;
    /* border: 5px solid greenyellow; */
    box-shadow: 5px 5px 2px 2px greenyellow;
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-top: 50px;
    padding: 30px 50px;
    border-radius: 20px;
    background-color: rgb(34, 34, 34);
    color: white;
    /* border-bottom: 2px solid greenyellow;
    border-right: 2px solid greenyellow; */
}

.personCardDetails {
    padding: 30px 50px;
    border-radius: 20px;
    background-color: rgb(54, 54, 54);
    box-shadow: 8px 8px 2px 1px rgb(31, 31, 31);;
}

.personDescription {
    margin: auto auto;
    height: fit-content;
    /* border: 1px solid red; */
}

.personDetails {
    padding-left: 60px;
    /* border: 1px solid red; */
}

.person {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 5px rgb(73, 73, 73);
}

.personPosition {
    color: greenyellow;
    font-size: 18px;
    /* padding-bottom: 10px; */
    /* border: 1px solid red; */
}

.personName {
    font-size: 42px;
    font-weight: bold;
    /* border: 1px solid red; */
}

.personTask {
    display: block;
    color: orange;
    padding: 10px 0px;
}

.quotePart {
    display: flex;
    justify-content: start;
    /* border: 1px solid red; */
}
.quoteIcon {
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
    margin: auto auto;
}

.personQuote {
    width: 450px;
    font-size: 20px;
    line-height: 1.5;
}