.eachMeal {
    /* width: fit-content; */
    /* padding: 10px 20px; */
    padding: 4px;
    border-radius: 10px;
    /* margin: 10px; */
    /* background-color: orange; */
    /* width: 312px; */
    /* height: 505px; */
    /* margin: 0px 30px; */
    /* border: 2px solid black; */
    margin: auto auto;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px 2px rgb(219, 142, 0);
    background-color: rgb(255, 184, 52);
}

.eachMeal:hover {
    /* transform: scale(1.1); */
    /* animation: scaleup11 1s linear forward; */
    animation-name: scaleup11;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* background-color: greenyellow; */
    box-shadow: 0px 0px 10px 1px rgb(36, 36, 36);
}
.eachMeal:hover .eachFoodDetail {
    /* transform: scale(1.1); */
    /* animation: scaleup11 1s linear forward; */
    /* animation-name: scaleup11; */
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    border: 2px solid transparent;
}
.eachMeal:hover .eachMealPrice {
    /* color: green; */
}
.eachMeal:hover .eachMealCompositionContainer {
    /* transform: scale(1.2); */
    /* animation: scaleup12 1s linear forward; */
    /* animation-name: scaleup12; */
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* background-color: greenyellow; */
    /* border: 2px solid orangered; */
}

.eachMealPic {
    width: 360px;
    height: 460px;
    border-radius: 7px;
    /* border: 1px solid black; */

}

@keyframes scaleup11 {
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.12);
    }
}

@keyframes scaleup12 {
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.0);
    }
}

/* Each Meal Detail */
.eachFoodDetail {
    /* border: 1px solid black; */
    /* background-color: #68B984; */
    /* background-color: greenyellow; */
    border-radius: 7px;
    padding: 5px 5px;
    border: 2px solid transparent;
    background-color: rgb(255, 184, 52);
}

.foodAndPrice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    
}

.eachMealCompositionContainer {
    /* background-color: greenyellow; */
    /* background-color: #76eb9f; */
    border-radius: 5px;
    padding: 5px 6px;
    border: 1px solid transparent;
    
    background-color: rgb(255, 184, 52);

}

.eachMealName {
    font-size: 20px;
    font-weight: bold;
}

.eachMealPrice {
    font-size: 20px;
    font-weight: bold;
}

.eachMealComposition {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}


