.eachMeal {
    width: fit-content;
    /* padding: 10px 20px; */
    padding: 2px;
    border-radius: 10px;
    /* margin: 10px; */
    background-color: grey;
    width: 312px;
    height: 505px;
    /* margin: 0px 30px; */
    border: 2px solid black;
    margin: auto auto;
}

.eachMeal:hover {
    /* transform: scale(1.1); */
    /* animation: scaleup11 1s linear forward; */
    animation-name: scaleup11;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: greenyellow;
    box-shadow: 0px 0px 50px 5px rgb(205, 255, 205);
}
.eachMeal:hover .eachFoodDetail {
    /* transform: scale(1.1); */
    /* animation: scaleup11 1s linear forward; */
    animation-name: scaleup11;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.eachMeal:hover .eachMealCompositionContainer {
    /* transform: scale(1.2); */
    /* animation: scaleup12 1s linear forward; */
    animation-name: scaleup12;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    border: 1px solid black;
}
.eachMealPic {
    width: 310px;
    height: 410px;
    border-radius: 7px;
    border: 1px solid black;

}

@keyframes scaleup11 {
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.12);
    }
}

@keyframes scaleup12 {
    from {
        transform: scale(1.0);
    } to {
        transform: scale(1.15);
    }
}

/* Each Meal Detail */
.eachFoodDetail {
    border: 1px solid black;
    /* background-color: #68B984; */
    background-color: greenyellow;
    border-radius: 7px;
    padding: 5px 5px;
}

.foodAndPrice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.eachMealCompositionContainer {
    /* background-color: greenyellow; */
    background-color: #76eb9f;
    border-radius: 5px;
    padding: 5px 6px;
    border: 1px solid transparent;
}

.eachMealName {
    font-size: 20px;
    font-weight: bold;
}

.eachMealPrice {
    font-size: 20px;
    font-weight: bold;
}

.eachMealComposition {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}


